<div class="mb-5 h1 text-center">Salon Policies</div>

<div class="container">
  <ul class="text-left">
    <li>If you are not satisfied, we will re-perform the servie within 2 days. Sory, no refund.</li>
    <li>We reserve the right to text the next client if you arrive 10 minutes late.</li>
    <li>No personal check will be accepted.</li>
    <li>We reserve the right to refuse service to anyone.</li>
    <li>For your safety, please inform our staff if you have any special needs, medical problems, or allergies that may affect our service.</li>
    <li>We are not responsible for any lost or stolen items in the salon.</li>
    <li>Parties of 5 or more will be required to put a deposit down to hold your appointment slot.</li>
    <li>Please allow us a 24-hour notice if for any reason you are cancelling or rescheduling, or the deposit will be taken for your slot fee.</li>
    <li>We are not responsible for lost or stolen gift cards. Clients must have the physical gift cards for them to be honored.</li>
    <li>Gift cards expire 1 year after the purchase date.</li>
  </ul>
</div>
