<div class="my-text-secondary text-center">
  <mat-tab-group backgroundColor="primary">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="my-text-secondary">Home</div>
      </ng-template>
      <app-home></app-home>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="my-text-secondary">Services</div>
      </ng-template>
      <div>text</div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          <div class="my-text-secondary">Contact</div>
        </ng-template>
      </mat-tab>
  </mat-tab-group>
</div>
