<div class="my-text-secondary text-center">
  <mat-tab-group backgroundColor="primary">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="my-text-secondary">Home</div>
      </ng-template>
      <img class="logo" src="assets/images/logo.jpg" />
      <app-home></app-home>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="my-text-secondary">Services</div>
      </ng-template>
      <img class="logo" src="assets/images/logo.jpg" />
      <app-services></app-services>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="my-text-secondary">Policies</div>
      </ng-template>
      <img class="logo" src="assets/images/logo.jpg" />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="my-text-secondary">Gallery</div>
      </ng-template>
      <img class="logo" src="assets/images/logo.jpg" />
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          <div class="my-text-secondary">Contact</div>
        </ng-template>
        <img class="logo" src="assets/images/logo.jpg" />
      </mat-tab>
  </mat-tab-group>
</div>
