<div class="mb-5 text-center h1">Services</div>
<div class="row text-center">
  <div class="col">
  </div>
  <div class="col-sm-3 image-link">
    <a href="services#mani">
      <div class="mani-pedi service"></div>
    </a>
    <div class="mt-2">
      <h4><a href="services#mani">MANI - PEDI</a></h4>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col-sm-3 image-link">
    <a href="services#waxing">
      <div class="mani-pedi waxing service"></div>
    </a>
    <div class="mt-2">
      <h4><a href="services#waxing">WAXING</a></h4>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col-sm-3 image-link">
    <a href="services#artificial">
      <div class="mani-pedi nail-enhance service"></div>
    </a>
    <div class="mt-2">
      <h4><a href="services#artificial">ARTIFICIAL NAIL</a></h4>
    </div>
  </div>
  <div class="col">
  </div>
</div>
<br/>
<div class="container">
  <div class="background-primary h3 text-center" id="mani">Manicures</div>
  <div class="text-center"><img src="/assets/images/manicure.jpg" class="rounded-circle circle-image"/></div>
  <br />
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Classic Manicure</div>
    <div class="col-2 price text-left font-weight-bold">$18</div>
  </div>

  <div class="col-9 description">Nail shaping, cuticle care, lotion massage, hot towel, and color finish.</div>
  <br />

  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Gel Manicure</div>
    <div class="col-2 price text-left font-weight-bold">$35</div>
  </div>

  <div class="col-9 description">Gel Manicure includes classic manicure and also take-off. Finish with gel polish.
      We only use LED light.</div>
  <br />
  <div class="col text-dark small text-center">
    <div>Kindly note, we offer 7 days guarantee with our Gel Manicure service.</div>
    <div>We will gladly repair any chipped nails within 7 days since initial application.</div>
    <div>Please ask your technician if you have any further questions.</div>
  </div>
  <br />
  <div class="col text-center background-primary h3">Pedicures</div>
  <div class="text-dark small col text-center">We offer disposal files, buffers and pumice stones for each customer.</div>
  <div class="text-dark small col text-center">All spa pedicures include a warm herbal neck wrap to help release stress.</div>
  <br/>
  <div class="text-center"><img src="/assets/images/pedicure.jpg" class="rounded-circle circle-image"/></div>
  <br />

  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Classic Pedicure</div>
    <div class="col-2 price text-left font-weight-bold">$30</div>
  </div>
  <div class="col-8 description">Basic pedicure includes shaping toenails, trimming cuticles, exfoliating, a
      relaxing massage with hot towel, and completed with a polish of your choice.</div>
  <br />

  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Casabella Pedicure</div>
    <div class="col-2 price text-left font-weight-bold">$40</div>
  </div>

  <div class="col-8 description">Casabella Pedicure includes classic pedicure plus a tropical sugar scrub to
      exfoliate dead skin cells, then your feet will be continuously pampered with a
      treatment mask, hot towel wraps and a lotion massage.</div>
  <br />

  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">“4 in 1” Vegan Spa Pedicure Package</div>
    <div class="col-2 price text-left font-weight-bold">$45</div>
  </div>

  <div class="col-8 description">“4 in 1” Vegan Spa pedicure includes the classic pedicure plus:</div>
  <br />
  <div class="row">
    <div class="col-1"></div>
    <div class="col description">
      <ol>
        <li>Sea salt for detoxifying and deodorizing.</li>
        <li>Moisturizing scrub to exfoliate deal skin.</li>
        <li>Mud masque for cleansing and tightening pores.</li>
        <li>Massage lotion to hydrate and soothe deep tissue in the skin.</li>
      </ol>
    </div>
  </div>
  <div class="col description">Select the Mood that your skin is craving:</div>
  <br />
  <div class="row">
    <div class="col-1"></div>
    <div class="col description">
      <ul>
        <li>“Exhausted?” – Vitamin Recharge</li>
        <li>“Felling Dull?” – Mango Delight</li>
        <li>“Stressed?” – Lavender Relieve</li>
        <li>“Need Some Glow?” – Cucumber Fresh</li>
        <li>“Detox Time?” – Green Tea Detox</li>
        <li>“Fatigue?” – Tangerine Twist</li>
        <li>“Dehydrated?” – Lemon Quench</li>
        <li>“Feeling Discomfort?” – Jasmine Soothe</li>
      </ul>
    </div>
  </div>
  <br />
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Sport Pedicure</div>
    <div class="col-2 price text-left font-weight-bold">$55</div>
  </div>

  <div class="col-8 description">Sport Pedicure includes classic pedicure plus our house sugar scrub for
      exfoliation of dead skin around the leg and feet. Following with callus
      treatment and a 10 minutes massage with butter lotion.</div>
  <br />

  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Relax Dream Pedicure</div>
    <div class="col-2 price text-left font-weight-bold">$60</div>
  </div>
  <div class="col-8 description">“Want Dewy &amp; Luminescent skin?” Treat yourself to a luxurious milk bath with
      Cleopatra- Milk &amp; Honey. The Relax Dream Pedicure starts out with the Milk and
      Honey scrub to exfoliate dead skin cells, then a callus removal to make sure your
      feet are smooth. Followed with a massage cream and moisturizer. Finally, give
      yourself the ultimate Collagen socks that work much better than paraffin.</div>

  <br />

  <div class="background-primary h3 text-center">Combo</div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Classic Mani & Pedi</div>
    <div class="col-2 price text-right font-weight-bold">$43</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Gel Mani/ Regular Pedi</div>
    <div class="col-2 price text-right font-weight-bold">$62</div>
  </div>
  <br />

  <div class="background-primary h3 text-center" id="artificial">Artificial Nail Services</div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-dark small text-center">
        Kindly note, artificial nails and nail arts are available according to specific
        technician’s schedules; price is based on complexity and length of time to complete
        services or design.
    </div>
  </div>
  <br/>
  <div class="text-center"><img src="/assets/images/artificial-nail.jpg" class="rounded-circle circle-image"/></div>
  <br />
  <br />
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Acrylic Full Set</div>
    <div class="col-2 price text-left font-weight-bold">$45 and up</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Acrylic Fill In</div>
    <div class="col-2 price text-left font-weight-bold">$27</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Gel Color Full Set</div>
    <div class="col-2 price text-left font-weight-bold">$55</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Gel Color Fill In</div>
    <div class="col-2 price text-left font-weight-bold">$37</div>
  </div>
  <br />

  <div class="background-primary h3 text-center">Dipping Powder - Next Gen</div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-dark small text-center">
        Dipping Powder is strong like acrylic but without harmful chemicals that can
        damage your natural nails.
    </div>
  </div>
  <div class="row">
      <div class="col-2"></div>
    <div class="col-8 text-dark small text-center">
   Dipping powder is all natural with vitamins and calcium enriched into the product.
  </div></div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-dark small text-center">
      All natural with vitamins and calcium enriched into the product.
    </div>
  </div>
  <br/>
  <div class="text-center"><img src="/assets/images/dipping-powder.jpg" class="rounded-circle circle-image"/></div>
  <br />
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Dipping Powder</div>
    <div class="col-2 price text-right font-weight-bold">$45</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Dipping Powder With Extension/ Manicure</div>
    <div class="col-2 price text-right font-weight-bold">$50</div>
  </div>
  <br />
  <div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-dark small text-center">Kindly note, we offer 7 days guarantee with our dipping powder
      service. We will gladly repair any chipped nails within 7 days since
      initial application. Please ask your technician if you have any further
      questions.</div>
      </div>
  <br />

  <div class="background-primary h3 text-center">Add On</div>
  <div class="row text-large">
    <div class="col-5 submenu text-left font-weight-bold">French Polish</div>
    <div class="col-3 price text-left font-weight-bold">$5</div>
  </div>
  <div class="row text-large">
    <div class="col-5 submenu text-left font-weight-bold">Polish Change</div>
    <div class="col-3 price text-left font-weight-bold">$10/ $15</div>
  </div>
  <div class="row text-large">
    <div class="col-5 submenu text-left font-weight-bold">Gel Polish Change</div>
    <div class="col-3 price text-left font-weight-bold">$20/ $25</div>
  </div>
  <div class="row text-large">
    <div class="col-5 submenu text-left font-weight-bold">Shine Buff</div>
    <div class="col-3 price text-left font-weight-bold">$5</div>
  </div>
  <div class="row text-large">
    <div class="col-5 submenu text-left font-weight-bold">Foot Massage (10 minutes)</div>
    <div class="col-3 price text-left font-weight-bold">$10 ($15 w/out Pedicure)</div>
  </div>
  <div class="row text-large">
    <div class="col-5 submenu text-left font-weight-bold">Collage Socks</div>
    <div class="col-3 price text-left font-weight-bold">$7</div>
  </div>

  <br />

  <div class="background-primary h3 text-center" id="waxing">Waxing Services</div>
  <div class="col text-dark small text-center">Kindly note, waxing is available according to specific technician’s schedules.</div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Eyebrow</div>
    <div class="col-2 price text-left font-weight-bold">$10</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Upper Lip</div>
    <div class="col-2 price text-left font-weight-bold">$7</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Side Burns</div>
    <div class="col-2 price text-left font-weight-bold">$15</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Full Face</div>
    <div class="col-2 price text-left font-weight-bold">$35</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Under Arm</div>
    <div class="col-2 price text-left font-weight-bold">$15</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Half Arm</div>
    <div class="col-2 price text-left font-weight-bold">$20</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Full Arm</div>
    <div class="col-2 price text-left font-weight-bold">$35</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Half Leg</div>
    <div class="col-2 price text-left font-weight-bold">$30</div>
  </div>
  <div class="row text-large">
    <div class="col-6 submenu text-left font-weight-bold">Full Leg</div>
    <div class="col-2 price text-left font-weight-bold">$50</div>
  </div>
  <br />

  <br />

  <br />
  <div class="text-center text-dark">* Prices are subject to change at anytime, the discount cannot be combined.</div>
  <br />
</div>
<div class="drink"></div>