.drink {
    background-image: url(../../assets/images/drink.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
    width: 100%; 
    height: 370px;
}

.text-large {
    font-size: 20px
}

.service {
    background-repeat:no-repeat;
    background-size:cover;
    height: 300px;
    border-style: outset
}

.mani-pedi {
    background-image: url(../../assets/images/mani-pedi.jpg); 

}

.waxing {
    background-image: url(../../assets/images/waxing.jpg);
}

.nail-enhance {
    background-image: url(../../assets/images/nail-enhance.jpg);

}

a {
    color: #e6ac00;
    text-decoration: none
}