<h1>Services</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="row">
        <div class="col background-primary">MANICURES</div>
      </div>
      <div class="row">
        <div class="col text-left">Classic Manicure</div>
        <div class="col text-right">$16</div>
      </div>
      <div class="row">
        <div class="col text-left">Gel Manicure</div>
        <div class="col text-right">$35</div>
      </div>
      <br />
      <div class="row">
        <div class="col background-primary">PEDICURES</div>
      </div>
      <div class="row">
        <div class="col text-left">Classic Pedicure</div>
        <div class="col text-right">$30</div>
      </div>
      <div class="row">
        <div class="col text-left">Sport Pedicure</div>
        <div class="col text-right">$33</div>
      </div>
      <div class="row">
        <div class="col text-left">Casabella Pedicure</div>
        <div class="col text-right">$45</div>
      </div>
      <div class="row">
        <div class="col text-left">Detox Pedicure</div>
        <div class="col text-right">$50</div>
      </div>
      <div class="row">
        <div class="col text-left">Relax Dream Pedicure</div>
        <div class="col text-right">$60</div>
      </div>
      <br />
      <div class="row">
        <div class="col background-primary">COMBO</div>
      </div>
      <div class="row">
        <div class="col text-left">Classic Mani/ Pedi</div>
        <div class="col text-right">$43</div>
      </div>
      <div class="row">
        <div class="col text-left">Gel Mani/ Regular Pedi</div>
        <div class="col text-right">$62</div>
      </div>
      <br />
      <div class="row">
        <div class="col background-primary">ARTIFICIAL NAIL SERVICES</div>
      </div>
      <div class="row">
        <div class="col text-left">Acrylic Full Set</div>
        <div class="col text-right">$35</div>
      </div>
      <div class="row">
        <div class="col text-left">Acrylic Fill In</div>
        <div class="col text-right">$20</div>
      </div>
      <div class="row">
        <div class="col text-left">Gel Color Full Set</div>
        <div class="col text-right">$50</div>
      </div>
      <div class="row">
        <div class="col text-left">Gel Color Fill In</div>
        <div class="col text-right">$35</div>
      </div>
      <div class="row">
        <div class="col text-left">Dipping Power - Next Gen</div>
        <div class="col text-right">$45</div>
      </div>
      <div class="row">
        <div class="col text-left">Dipping Power With Extension/ Manicure</div>
        <div class="col text-right">$50</div>
      </div>

    </div>

    <div class="col"></div>

    <div class="col-sm-5">
      <div class="row">
        <div class="col background-primary">ADD ON</div>
      </div>
      <div class="row">
        <div class="col text-left">French Polish</div>
        <div class="col text-right">$5</div>
      </div>
      <div class="row">
        <div class="col text-left">Polish Change</div>
        <div class="col text-right">$10/ $15</div>
      </div>
      <div class="row">
        <div class="col text-left">Gel Polish Change</div>
        <div class="col text-right">$20/ $25</div>
      </div>
      <div class="row">
        <div class="col text-left">Shine Buff</div>
        <div class="col text-right">$5</div>
      </div>
      <div class="row">
        <div class="col text-left">Foot Massage (10 minutes)</div>
        <div class="col text-right">$10 ($15 w/out Pedicure)</div>
      </div>
      <div class="row">
        <div class="col text-left">Collage Socks</div>
        <div class="col text-right">$7</div>
      </div>
      <br />
      <div class="row">
        <div class="col background-primary">WAXING SERVICES</div>
      </div>
      <div class="row">
        <div class="col text-left">Eyebrow</div>
        <div class="col text-right">$10</div>
      </div>
      <div class="row">
        <div class="col text-left">Upper Lip</div>
        <div class="col text-right">$7</div>
      </div>
      <div class="row">
        <div class="col text-left">Side Burns</div>
        <div class="col text-right">$15</div>
      </div>
      <div class="row">
        <div class="col text-left">Full Face</div>
        <div class="col text-right">$35</div>
      </div>
      <div class="row">
        <div class="col text-left">Under Arm</div>
        <div class="col text-right">$15</div>
      </div>
      <div class="row">
        <div class="col text-left">Half Arm</div>
        <div class="col text-right">$20</div>
      </div>
      <div class="row">
        <div class="col text-left">Full Arm</div>
        <div class="col text-right">$35</div>
      </div>
      <div class="row">
        <div class="col text-left">Half Leg</div>
        <div class="col text-right">$30</div>
      </div>
      <div class="row">
        <div class="col text-left">Full Leg</div>
        <div class="col text-right">$50</div>
      </div>
      <div class="row">
        <div class="col text-left">Men's Chest</div>
        <div class="col text-right">$40 & up</div>
      </div>
      <div class="row">
        <div class="col text-left">Men's Back</div>
        <div class="col text-right">$50 & up</div>
      </div>
    </div>
  </div>
</div>