.drink {
    background-image: url(../../assets/images/drink.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
    height: 370px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .drink {
        background-image: url(../../assets/images/drink-mobile.png);
        height: 118px;
    }
}

.text-large {
    font-size: 20px
}

.service {
    background-repeat:no-repeat;
    background-size:cover;
    height: 350px;
    border-style: outset
}
@media (min-width: 320px) and (max-width: 480px) {
    .service {
        margin: 30px 30px;
    }
}
.mani-pedi {
    background-image: url(../../assets/images/manicure-pedicure.jpg); 

}
@media (min-width: 320px) and (max-width: 480px) {
    .mani-pedi {
        background-position: center bottom
    }
}
.waxing {
    background-image: url(../../assets/images/waxing.jpg);
}

.nail-enhance {
    background-image: url(../../assets/images/artificial-nail.jpg);

}

.circle-image {
    height: 300px;
    width: 300px;
}

a {
    color: #e6ac00;
    text-decoration: none
}

.description {
    margin-left: 200px;
    color: black;
}
@media (min-width: 320px) and (max-width: 480px) {
    .description {
        margin-left: 30px;
    }
}
.submenu {
    margin-left: 270px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .submenu {
        margin-left: 20px;
    }
}
.price {
    margin-left: 0px
}
@media (min-width: 320px) and (max-width: 480px) {
    .price {
        margin-left: 80px;
    }
}