<h1>Services</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-5 background-primary">MANICURES</div>
    <div class="col"></div>
    <div class="col-5 background-primary">ARTIFICIAL NAIL SERVICES</div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Classic Manicure</div>
    <div class="col-sm-1 text-right">$16</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Acrylic Full Set</div>
    <div class="col-sm-1 text-right">$35</div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-left">Gel Manicure</div>
    <div class="col-sm-1 text-right">$35</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Acrylic Fill In</div>
    <div class="col-sm-1 text-right">$20</div>
  </div>
  <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-4 text-left">Gel Color Full Set</div>
      <div class="col-sm-1 text-right">$50</div>
    </div>
  <div class="row">
    <div class="col-sm-5 background-primary">PEDICURES</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Gel Color Fill In</div>
    <div class="col-sm-1 text-right">$35</div>
  </div>     
  <div class="row">
    <div class="col-sm-4 text-left">Classic Pedicure</div>
    <div class="col-sm-1 text-right">$30</div>
    <div class="col"></div>
    <div class="col-sm-5 text-left"></div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Sport Pedicure</div>
    <div class="col-sm-1 text-right">$33</div>
    <div class="col"></div>
    <div class="col-sm-5 background-primary">WAXING SERVICES</div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Casabella Pedicure</div>
    <div class="col-sm-1 text-right">$45</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Eyebrow</div>
    <div class="col-sm-1 text-right">$10</div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Detox Pedicure</div>
    <div class="col-sm-1 text-right">$50</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Upper Lip</div>
    <div class="col-sm-1 text-right">$7</div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-left">Relax Dream Pedicure</div>
    <div class="col-sm-1 text-right">$60</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Side Burns</div>
    <div class="col-sm-1 text-right">$15</div>
  </div> 
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Full Face</div>
    <div class="col-sm-1 text-right">$35</div>
  </div> 
  <div class="row">
    <div class="col-sm-5 background-primary">COMBO</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Under Arm</div>
    <div class="col-sm-1 text-right">$15</div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-left">Classic Mani/ Pedi</div>
    <div class="col-sm-1 text-right">$43</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Half Arm</div>
    <div class="col-sm-1 text-right">$20</div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Gel Mani/ Regular Pedi</div>
    <div class="col-sm-1 text-right">$62</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Full Arm</div>
    <div class="col-sm-1 text-right">$35</div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-4 text-left">Half Leg</div>
    <div class="col-sm-1 text-right">$30</div>
  </div> 
  <div class="row">
    <div class="col-sm-5 background-primary">ADD ON</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Full Leg</div>
    <div class="col-sm-1 text-right">$50</div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">French Polish</div>
    <div class="col-sm-1 text-right">$5</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Men's Chest</div>
    <div class="col-sm-1 text-right">$40 & up</div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Polish Change</div>
    <div class="col-sm-1 text-right">$10/ $15</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Men's Back</div>
    <div class="col-sm-1 text-right">$50 & up</div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Gel Polish Change</div>
    <div class="col-sm-1 text-right">$20/ $25</div>
    <div class="col"></div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Shine Buff</div>
    <div class="col-sm-1 text-right">$5</div>
    <div class="col"></div>
    <div class="col-sm-5 background-primary">DIPPING POWDER</div>
  </div> 
  <div class="row">
    <div class="col-sm-3 text-left">Foot Massage (10 minutes)</div>
    <div class="col-sm-2 text-right">$10 ($15 w/out Pedicure)</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left">Next Gen<br/>With Extension/Manicure</div>
    <div class="col-sm-1 text-right">$45<br/>$50</div>
  </div> 
  <div class="row">
    <div class="col-sm-4 text-left">Collage Socks</div>
    <div class="col-sm-1 text-right">$7</div>
    <div class="col"></div>
    <div class="col-sm-4 text-left"></div>
    <div class="col-sm-1 text-right"></div>
  </div>
</div>
