
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();
$brown: (
    50 : #eeeae5,
    100 : #d5cabe,
    200 : #b9a693,
    300 : #9d8267,
    400 : #886847,
    500 : #734d26,
    600 : #6b4622,
    700 : #603d1c,
    800 : #563417,
    900 : #43250d,
    A100 : #ffaf7c,
    A200 : #ff9049,
    A400 : #ff7116,
    A700 : #fc6200,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gold: (
    50 : #fcf5e0,
    100 : #f8e6b3,
    200 : #f3d680,
    300 : #eec54d,
    400 : #eab826,
    500 : #e6ac00,
    600 : #e3a500,
    700 : #df9b00,
    800 : #db9200,
    900 : #d58200,
    A100 : #fffefc,
    A200 : #ffe7c9,
    A400 : #ffd196,
    A700 : #ffc67d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($brown, 500);
$accent:  mat-palette($gold, 500);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}
.background-primary {
    background-color: #734d26
}

body {
    color: #e6ac00;
    stop-color: #734d26;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}