.mat-tab-label {
    background-color: white;
    stop-color: #734d26
}

.home-background {
    background-image: url(../../assets/images/home-banner.png);
    background-repeat:no-repeat;
    background-size:cover;
    height: 800px;
    background-position: center bottom
}

@media (min-width: 320px) and (max-width: 480px) {
    .home-background {
        background-image: url(../../assets/images/home-banner-mobile.png);
        height: 228px;
        width: 420px;
    }
}

.about_us {
    margin-top: 30px;
}
.about_us_img {
    height: 300px;
    margin-top: 100px;
}

.divider {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px
}

.service {
    background-repeat:no-repeat;
    background-size:cover;
    height: 300px;
    border-style: outset
}

.mani-pedi {
    background-image: url(../../assets/images/manicure-pedicure.jpg); 

}

.waxing {
    background-image: url(../../assets/images/waxing.jpg);
}

.nail-enhance {
    background-image: url(../../assets/images/artificial-nail.jpg);

}

.home-of-beauty{
    width: 400px;
    position: absolute;
    top: 690px;
    left: 500px
}

.info {
    width: 100%;
}

.quote {
    font-family: 'Sofia';
    margin-left: 200px;
    color: black
}

.blue-text{
    color: blue;
}
a {
    color: #e6ac00;
    text-decoration: none
}

.address:hover {
    cursor: pointer
}

.address-link {
    text-decoration: underline;
    color: blue
}

.popup {
    background-image: url(../../assets/images/grand-opening.png);
    background-repeat:no-repeat;
    background-size:cover;
    height: 400px;
    width: 800px;
    top: 0;
    position: relative
}

.about-us-text {
    color: black;
    margin: 0px 250px;
    text-indent: 50px;
}

.welcome {
    color: black;
    margin-left: 200px
}
