<div class="text-center">
  <div class="row home-background">
  </div>
  <div class="background-primary">
    <div class="pt-3">
      <a href="http://yelp.com/biz/casabella-salon-washington-2?utm_medium=badge_small&amp;utm_source=biz_review_badge"
        target="_blank"><img height=50 src="assets/images/yelp.png" /></a>
      <a href="https://www.facebook.com/pg/casabellasalondc/about/?ref=page_internal" target="_blank"><img height=80
          src="assets/images/facebook.png" /></a>
      <a href="https://www.instagram.com/casabella_dc" target="_blank"><img height=55
          src="assets/images/instagram.png" /></a>
    </div>

    <h1 class="pt-2">HOME OF BEAUTY</h1>
    <div>_____</div>

    <div class="row text-center my-text-secondary pb-3">
      <div class="col-sm-4">
        <br /><br />
        <h4>
          <mat-icon>access_time</mat-icon> HOURS
        </h4>
        <div>Monday - Friday: 10:00 AM - 8:00 PM</div>
        <div>Saturday: 10:00 AM - 7:00 PM</div>
        <div>Sunday: 11:00 AM - 6:00 PM</div>
      </div>
      <div class="col-sm-4">
        <br /><br />
        <h4>
          <mat-icon>location_on</mat-icon> OUR LOCATION
        </h4>
        <div class="address-link"><a
            href="https://www.google.com/maps/place/1436+Wisconsin+Ave+NW,+Washington,+DC+20007/@38.8917839,-77.1206696,13.15z/data=!4m13!1m7!3m6!1s0x89b7b649c609c18b:0x657a8f90a6622d16!2s1436+Wisconsin+Ave+NW,+Washington,+DC+20007!3b1!8m2!3d38.9085725!4d-77.0641766!3m4!1s0x89b7b649c609c18b:0x657a8f90a6622d16!8m2!3d38.9085725!4d-77.0641766"
            target="_blank">1436 Wisconsin Ave NW</a></div>
        <div class="address-link"><a
            href="https://www.google.com/maps/place/1436+Wisconsin+Ave+NW,+Washington,+DC+20007/@38.8917839,-77.1206696,13.15z/data=!4m13!1m7!3m6!1s0x89b7b649c609c18b:0x657a8f90a6622d16!2s1436+Wisconsin+Ave+NW,+Washington,+DC+20007!3b1!8m2!3d38.9085725!4d-77.0641766!3m4!1s0x89b7b649c609c18b:0x657a8f90a6622d16!8m2!3d38.9085725!4d-77.0641766"
            target="_blank">Washington D.C</a></div>
      </div>
      <div class="col-sm-4">
        <br /><br />
        <h4>
          <mat-icon>ring_volume</mat-icon> CONTACT
        </h4>
        <div class="address-link"><a href="tel:+13015326959">+1-202-525-4621</a></div>
      </div>
    </div>
  </div>
</div>
<div class="about_us text-center">
  <h1>ABOUT US</h1>
  <div>________</div>
  <br />
  <div>
    <h3 class="text-left welcome">Welcome to Casabella Salon!</h3>
    <h6 class="quote">"May all who enter as GUEST, leave as FRIENDS"</h6>
    <br />
    <div class="about-us-text">
      <p class="text-left">
        We specialize in natural nail services such as manicures, pedicures, and nail
        enhancements. We are conveniently located in the heart of <a class="address-link"
          href="https://www.google.com/maps/place/1436+Wisconsin+Ave+NW,+Washington,+DC+20007/@38.8917839,-77.1206696,13.15z/data=!4m13!1m7!3m6!1s0x89b7b649c609c18b:0x657a8f90a6622d16!2s1436+Wisconsin+Ave+NW,+Washington,+DC+20007!3b1!8m2!3d38.9085725!4d-77.0641766!3m4!1s0x89b7b649c609c18b:0x657a8f90a6622d16!8m2!3d38.9085725!4d-77.0641766"
          target="_blank">Georgetown - Washington D.C</a> with sprawling shops, entertainment, and dining all around us.
      </p>
      <div *ngIf="!showText" class="blue-text" (click)="onToggleText()">Read More</div>
      <div *ngIf="showText">
        <p class="text-left">
              Walk-ins are welcome; however, we advise you to call ahead or make an
          appointment because availability is not always guaranteed. Quality is our number
          one priority so grab a friend, come by, have a drink of wine, and enjoy getting

          pampered by our knowledgeable technicians!
        </p>
        <p class="text-left">
              Cleanliness is of the utmost importance at Casabella Salon. All instruments are
          sanitized and disinfected prior to use. Each client is provided with a sealed
          packet of disposable file, buff, and pumice stone. The salon is equipped with
          pipe-less, magnetic jet, pedicure chairs, and individual tube liners for each client
          providing the healthiest and cleanest service possible. Our guests will rest
          assured knowing that they are not &quot;touching&quot; the guest who came before them.
        </p>
        <p class="text-left">
          Call to schedule an appointment. We are here to assist you in achieving beautiful

          and healthy nails!
        </p>
        <div *ngIf="showText" class="blue-text" (click)="onToggleText()">Read Less</div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <img class="about_us_img" src="assets/images/logo.jpg" />
</div>
<div class="text-center">
  <img class="divider" src="assets/images/divider.png" />
</div>
<h1 class="text-center">SERVICES</h1>
<div class="row text-center">
  <div class="col">
  </div>
  <div class="col-sm-3 image-link">
    <a href="services/#mani">
      <div class="mani-pedi service"></div>
    </a>
    <div class="mt-2">
      <h4><a href="services/#mani">MANI - PEDI</a></h4>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col-sm-3 image-link">
    <a href="services/#waxing">
      <div class="mani-pedi waxing service"></div>
    </a>
    <div class="mt-2">
      <h4><a href="services/#waxing">WAXING</a></h4>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col-sm-3 image-link">
    <a href="services/#artificial">
      <div class="mani-pedi nail-enhance service"></div>
    </a>
    <div class="mt-2">
      <h4><a href="services/#artificial">ARTIFICIAL NAIL</a></h4>
    </div>
  </div>
  <div class="col">
  </div>
</div>