<div class="text-center">
  <div class="row home-background">
  </div>
  <div class="row text-center background-primary my-text-secondary">
    <div class="col-sm-4">
      <br /><br />
      <h4>
        <mat-icon>access_time</mat-icon> HOURS
      </h4>
      <div>Monday - Saturday:</div>
      <div>10:00 AM - 7:30 PM</div>
      <div>Sunday:</div>
      <div>11:00 AM - 6:00 PM</div>
    </div>
    <div class="col-sm-4">
      <br /><br />
      <h4>
        <mat-icon>location_on</mat-icon> OUR LOCATION
      </h4>
      <div>1436 Wisconsin Ave NW</div>
      <div>Washington D.C</div>
    </div>
    <div class="col-sm-4">
      <br /><br />
      <h4>
        <mat-icon>ring_volume</mat-icon> CONTACT
      </h4>
      <div>+301-532-6959</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 about_us text-center">
    <h1>Welcome to Casabella Salon!</h1>
    <h6 class="quote">"May all who enter as GUEST, leave as FRIENDS"</h6>
    <br />
    <p>
      We specialize in natural nail services such as manicures, pedicures, and nail enhancement services.
      We are conveniently located in the heart of Georgetown - Washington D.C with sprawling shops, entertainment,
      and dining all around us.
    </p>
    <div *ngIf="!showText" class="blue-text" (click)="onToggleText()">Read More</div>
    <div *ngIf="showText">
      <p>
        Walk-ins are welcome, however, we advise that you call ahead or make an appointment because availability is not
        always guaranteed.
        Quality is our number one priority so grab a friend, come by, have a drink of wine, and enjoy getting pampered
        by our knowledgeable technician!
      </p>
      <p>
        Cleanliness is of the utmost importance at Casabella Salon. All instruments are sansitized and disinfected
        prior to use. Each client is provided
        with a sealed packet of disposable file, buff, and pumice stone. The salon is equiped with pipe-less, magnetic
        jet pedicure chairs and individual
        tube liners for each client providing the healthiest and cleanest service possible. Our guests rest assured
        that they're not be "touching" the guest who came before them.
      </p>
      <p>
        Call to schedule an appointment. We are here to assist you in achieving beautiful, healthy nails!
      </p>
      <div *ngIf="showText" class="blue-text" (click)="onToggleText()">Read Less</div>
    </div>
  </div>
  <div class="col-sm-6 text-center">
    <img class="about_us_img" src="assets/images/about_us.jpg" />
  </div>
</div>
<div class="text-center">
  <img class="divider" src="assets/images/divider.png" />
</div>
<h1 class="text-center">SERVICES</h1>
<div class="row text-center">
  <div class="col">
  </div>
  <div class="col-sm-3 image-link" routerLink="/services" routerLinkActive="active" fragment="manicure">
    <div class="mani-pedi service"></div>
    <div class="mt-2">
      <h4>MANI - PEDI</h4>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col-sm-3 image-link" routerLink="/services" routerLinkActive="active" fragment="waxing">
    <div class="mani-pedi waxing service"></div>
    <div class="mt-2" >
      <h4 >WAXING</h4>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col-sm-3 image-link" routerLink="/services" routerLinkActive="active">
    <div class="mani-pedi nail-enhance service"></div>
    <div class="mt-2">
      <h4>NAIL-ENHANCEMENT</h4>
    </div>
  </div>
  <div class="col">
  </div>
</div>