.mat-tab-label {
    background-color: white;
    stop-color: #734d26
}

.home-background {
    background-image: url(../../assets/images/home-banner.png);
    background-repeat:no-repeat;
    background-size:cover;
    height: 700px;
}

.about_us {
    margin-top: 30px;
}
.about_us_img {
    height: 300px;
    margin-top: 30px;
}

.divider {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px
}

.service {
    background-repeat:no-repeat;
    background-size:cover;
    height: 300px;
    border-style: outset
}

.mani-pedi {
    background-image: url(../../assets/images/mani-pedi.jpg); 

}

.waxing {
    background-image: url(../../assets/images/waxing.jpg);
}

.nail-enhance {
    background-image: url(../../assets/images/nail-enhance.jpg);

}

.home-of-beauty{
    width: 400px;
    position: absolute;
    top: 690px;
    left: 500px
}

.info {
    width: 100%;
}

.quote {
    font-family: 'Sofia';
    margin-left: 200px;
}

.blue-text{
    color: blue;
}
a {
    color: #e6ac00;
    text-decoration: none
}

.address:hover {
    cursor: pointer
}

.address-link {
    text-decoration: underline;
    color: blue
}
