<div class="text-center">  
  <h1>Welcome to Casabella Salon!</h1>
  <p>
    We specialize in natural nail services, such as manicures and pedicures, as well as nail enhancement services. 
    We are conveniently located in the heart of Georgetown - Washington D.C with sprawling shops, entertainment, and dining all qround us.
    Walk-ins are welcome, however, we advise that you call ahead or make an appointment because availability is not always guaranteed.
    Quality is our number one priority so grab a friend, come by, have a drink of wine, and enjoy getting pampered by our knowledgeable technician!
  </p>
  <p>
    Cleanliness is of the utmost importance at Casabella Salon. All instruments are sansitized and disinfected prior to use. Each client is provided 
    with a sealed packet of disposable file, buff, and pumice stone. The salon is equiped with pipe-less, magnetic jet pedicure chairs and individual 
    tube liners for each client providing the healthiest and cleanest service possible. Our guests rest assured that they're not be "touching" the guest who came before them.
  </p>
  <p>
    Call to schedule an appointment. We are here to assist you in achieving beautiful, healthy nails!
  </p>
</div>


